.alignItems{
    justify-content: center;
    text-align: center;
    align-items: stretch;
    display: flex;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.scroll{
    background-color: burlywood;
    white-space: nowrap;
    overflow-x: auto; 
    overflow-y: hidden;
}

.scroll li{
    display: inline-block;
}

.resultMessage{
    text-align: center;
}