.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.scroll{
    background-color: burlywood;
    white-space: nowrap;
    overflow-x: auto; 
    overflow-y: hidden;
}

.scroll li{
    display: inline-block;
}

.resultMessage{
    text-align: center;
}

.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis; 
  }