.alignItems{
    justify-content: center;
    text-align: center;
    align-items: stretch;
    display: flex;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.navColor{
    background-color: burlywood
    
}