<ul ngbNav #nav="ngbNav" class="nav-tabs">
    <div class="scroll">
        <li ngbNavItem *ngFor="let category of categories;" id="{{category.categoryID}}">
            <a ngbNavLink (click)="clickedCategoryTab(category.categoryID)">{{category.categoryName}}</a>
        </li>
    </div>
</ul>
<div class="resultMessage">
    {{result.message}}
</div>
<div>
    <div class ="row" style="justify-content: center">
        <div class="col-2 alignItems" *ngFor="let menuItem of menuItems">
            <div class="card" style="width: 15rem; background-color: beige;">
                <img class="card-img-top" src="../../assets/sushi.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">{{menuItem.item}}</h4>
                    <p class="card-text">{{menuItem.description}}</p>
                    <h5>${{menuItem.price.toFixed(2)}}</h5>
                    <button class="btn btn-primary" (click)="open(content, menuItem)">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h3> Add Item </h3>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <h4>{{menuItem.item}}</h4>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="addToCart(menuItem)">Add to Cart</button>
    </div>
</ng-template>