<div class="header">
    <a href="/home" class="logo">{{restaurant.restaurantViewName}}</a>
    <div class="header-right">
        <a routerLink="/home" routerLinkActive="active-link">Home</a>
        <a href="/menu">Menu</a>
        <a href="#contact">Contact</a>
        <a href="/cart">Cart <fa-icon [icon]="shoppingCart"></fa-icon> ({{cartItemCount}}) </a>
        <div class="card userCard">
            <h4>{{fullName}} <a href="/editProfile"><fa-icon [icon]="editIcon"></fa-icon></a></h4>
        </div>
    </div>
</div>