<div class="footer">
    <div class="container">
        <div class="row footer-text-center">
          <div class="col-sm">{{restaurant.restaurantLocation}}</div>
          <div class="col-sm">{{restaurant.restaurantPhoneNumber}}</div>
          <div class="col-sm">
              <table>
                  <tr>
                      <td>
                          Monday: 
                      </td>
                      <td>
                          {{restaurant.mondayHours}}
                      </td>
                  </tr>
                  <tr>
                    <td>
                        Tuesday: 
                    </td>
                    <td>
                        {{restaurant.tuesdayHours}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Wednesday: 
                    </td>
                    <td>
                        {{restaurant.wednesdayHours}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Thursday: 
                    </td>
                    <td>
                        {{restaurant.thursdayHours}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Friday: 
                    </td>
                    <td>
                        {{restaurant.fridayHours}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Saturday: 
                    </td>
                    <td>
                        {{restaurant.saturdayHours}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Sunday: 
                    </td>
                    <td>
                        {{restaurant.sundayHours}}
                    </td>
                </tr>
              </table>
          </div>
        </div>
      </div>
</div>