.footer {
    //position:fixed;
    bottom:0;
    left:0;
    width:100%;
    
    background-color: #D0DAEE;
  }

.footer-text-center {
    padding-left:40px;
    float:center;
    word-spacing:5px;
  }